<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pawd Registration</title>
<style type="text/css">
	body {
		margin: 0;
		background-color: #dadada;
	}
	table {
		border-spacing: 0;
	}
	td {
		padding: 0;
	}
	img {
		border: 0;
	}
    .wrapper {
        width: 100%;
        table-layout: fixed;
        background-color: #dadada;
        padding-bottom: 60px;
    }

    .main {
        background-color: white;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #393939
    }

    .header {
        text-align: center;
    }
    .email-text {
        padding: 0 20px 0 20px;
        font-size: 16px;
        line-height: 23px
    }



</style>
</head>
<body>
    <center class="wrapper">
        <table class="main" width="100%"> 
            <!-- TOP BORDER -->
            <tr>
                <td height="20" style="background-color: #FE9E24;"></td>
            </tr>

            <!-- WELCOME HEADER -->

            <tr class="header">
                <td>
                    <h1 style="font-size: 30px; font-weight: bold; padding-top: 10px;">Welcome!</h1>
                   <a href="#"><img src="https://cdn.emailacademy.com/user/659aab0402546360680bcdcc895913e39a69ae1c65db2a0ce2a8cc5982286385/Doggy2023_02_19_20_32_29.png" alt="" width="120" style="max-width:130px;"></a>
                </td>
            </tr>

       


            <!-- EMAIL TEXT -->

            <tr>
                <td class="email-text">
                   <p>Hi {{firstName}},</p>
                   <p>Thank you for signing up with Pawd! We are so excited to have you and will do our best to change your daily life with Pawd.
                    If you have any questions or need assistance, please don't hesitate to contact us.
                   </p>
                   <p>Best regards,</p>
                   <p>Team Pawd</p>
                    


                </td>
            </tr>






            <!-- FOOTER SECTION -->
            <tr>
                <td style="background-color: #FE9E24;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: center; padding: 25px 20px; color: #ffffff;">

                                <p style="padding: 0">220 North Avenue, Atlanta, GA, 30308</p>
                                <p style="padding: 0">404-988-3256</p>
                                <p><a href="#" style="padding: 0; color: #ffffff;">pawd.com</a></p>
                                <a href="#"><img src="https://cdn.emailacademy.com/user/unregistered/white-facebook2023_02_19_20_24_18.png" alt="" width="30"></a>
                                <a href="#"><img src="https://cdn.emailacademy.com/user/659aab0402546360680bcdcc895913e39a69ae1c65db2a0ce2a8cc5982286385/white-twitter2023_02_19_20_29_52.png" alt="" width="30"></a>
                                <a href="#"><img src="https://cdn.emailacademy.com/user/659aab0402546360680bcdcc895913e39a69ae1c65db2a0ce2a8cc5982286385/white-youtube2023_02_19_20_28_18.png" alt="" width="30"></a>
                                <a href="#"><img src="https://cdn.emailacademy.com/user/659aab0402546360680bcdcc895913e39a69ae1c65db2a0ce2a8cc5982286385/white-instagram2023_02_19_20_30_55.png" alt="" width="30"></a>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


        </table>
    </center>







</body>
</html>


